.login-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.login-left {
  flex: 1;
  background-color: #f7f7f7;
}

.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 0 50px;
}

.login-form-container {
  width: 100%;
  max-width: 400px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 30px 20px;
  border-radius: 8px;
  position: relative;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 auto 20px;
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
}

.input-group {
  margin-bottom: 15px;
  width: 100%;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

button {
  padding: 10px 20px;
  width: 100%;
  border: none;
  background-color: #6c63ff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #5148c5;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.forgot-password {
  margin-top: 15px;
  color: #007bff;
  cursor: pointer;
}
